nav {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 995px;
  margin: 0 auto;
  ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 10px;
  }
  li {
    font-size: 20px;
    list-style: none;
    font-weight: 700;
    font-style: italic;

    cursor: pointer;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: #1e6cfe;
      }
    }
  }
}
.active {
  color: #1e6cfe;
}
.search {
  form {
    display: flex;
    justify-content: center;
  }
  input {
    font-weight: 800;
    border: 2px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    height: 30px;
  }
  button {
    border-left: none;
    border-radius: 0px 5px 5px 0;
    background: none;
    img {
      width: 16px;
      display: flex;
      align-items: center;
    }
  }
}
